.build
composer.lock

.php-cs-fixer.cache
.phplint.cache
Build/.phpunit.cache

Documentation/_make
Documentation-GENERATED-temp/

.DS_Store
.idea

var/
vendor/

phpunit.coverage.xml
phpunit.report.xml
