<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cartproducts="http://typo3.org/ns/Extcode/CartProducts/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="cart_form">
    <f:form id="product-{product.uid}"
            class="add-to-cart-form"
            pageUid="{pid}"
            extensionName="Cart"
            pluginName="Cart"
            controller="Cart\Product"
            action="add"
            method="post"
            pageType="{f:if(condition:'{settings.addToCartByAjax}', then:'{settings.addToCartByAjax}', else:'')}"
            additionalAttributes="{data-ajax: '{f:if(condition: \'{settings.addToCartByAjax}\', then: \'1\', else: \'0\')}', data-type: 'slot', data-id: '{slot.uid}'}">
        <input type="hidden" name="tx_cart_cart[productType]" value="CartProducts">
        <input type="hidden" name="tx_cart_cart[product]" value="{product.uid}">

        <input class="form-control" type="text" value="1" name="tx_cart_cart[quantity]">
        <f:if condition="{product.beVariants}">
            <cartproducts:form.variantSelect
                    id="be-variants-select"
                    class="form-control"
                    name="tx_cart_cart[beVariants][1]"
                    product="{product}"
                    blank="{f:translate(key: 'tx_cartproducts.variants-select.choose')}"/>
        </f:if>
        <f:if condition="{product.feVariants}">
            <f:for each="{product.feVariants}" as="feVariant">
                <f:if condition="{feVariant.isRequired}">
                    <f:then>
                        <label for="product-fevariant-{feVariant.uid}" class="required">{feVariant.title} <em>*</em></label>
                        <input id="product-fevariant-{feVariant.uid}" type="text" name="tx_cart_cart[feVariants][{feVariant.sku}]" required="true">
                    </f:then>
                    <f:else>
                        <label for="product-fevariant-{feVariant.uid}">{feVariant.title}</label>
                        <input id="product-fevariant-{feVariant.uid}" type="text" name="tx_cart_cart[feVariants][{feVariant.sku}]">
                    </f:else>
                </f:if>
            </f:for>
        </f:if>
        <input type="submit" class="btn btn-default form-control" value="<f:translate key='tx_cartproducts.plugin.form.submit' />">

        <div class="form-message" data-ajax-message-timeout="3000">
            <div class="form-success" style="display: none;" data-ajax-success-block="">
                <div class="alert alert-success" data-ajax-success-message=""></div>
            </div>
            <div class="form-error" style="display: none;" data-ajax-error-block>
                <div class="alert alert-warning" data-ajax-error-message></div>
            </div>
        </div>
    </f:form>
</div>
</html>
