<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      xmlns:cartproducts="http://typo3.org/ns/Extcode/CartProducts/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="actions">
</f:section>

<f:section name="content">
    <f:flashMessages/>

    <f:render partial="Product/Filter" arguments="{searchArguments: searchArguments, action: 'list'}"/>

    <div class="table-fit">
        <table class="table table-striped typo3-dblist">
            <thead>
            <tr class="t3-row-header">
                <th style="text-align: left;">
                    <f:translate key="tx_cartproducts_domain_model_product_product.sku"/>
                </th>
                <th style="text-align: left;">
                    <f:translate key="tx_cartproducts_domain_model_product_product.title"/>
                </th>
                <th style="text-align: right; width: 75px;">
                    <f:translate key="tx_cartproducts_domain_model_product_product.stock"/>
                </th>
                <th style="text-align: right; width: 100px;">
                    <f:translate key="tx_cartproducts_domain_model_product_product.price"/>
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{products}" as="product">
                <tr class="db_list_normal">
                    <td>
                        <f:link.action action="show" arguments="{product : product}"> {product.sku}</f:link.action>
                    </td>
                    <td>
                        <f:link.action action="show" arguments="{product : product}"> {product.title}</f:link.action>
                    </td>
                    <td style="text-align: right;">
                        {product.stock}
                        <f:if condition="{product.variants}">(!)</f:if>
                    </td>
                    <td style="text-align: right;">
                        <f:if condition="{product.variants}">
                            <f:then>
                                <f:translate key="tx_cartproducts_domain_model_product.price.from"/>
                                :
                                <cart:format.currency currencySign="{orderItem.currency}">{product.minPrice}</cart:format.currency>
                            </f:then>
                            <f:else>
                                <cart:format.currency currencySign="{orderItem.currency}">{product.price}</cart:format.currency>
                            </f:else>
                        </f:if>
                    </td>
                    <td>
                        <div class="col-control nowrap">
                            <a class="btn btn-default"
                               href="{f:uri.action(action:'show', arguments:{product : product})}"
                               title="{f:translate(key: 'tx_cartproducts.controller.product.action.show')}">
                                <core:icon identifier="actions-view" />
                            </a>
                            <a class="btn btn-default" href="{cartproducts:backend.editRecord(parameters: 'edit[tx_cartproducts_domain_model_product_product][{product.uid}]=edit&returnUrl={returnUrl}')}"><core:icon identifier="actions-open" /></a>
                            {cartproducts:backend.removeRecord(product: product)}
                        </div>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>
    </div>
</f:section>
</html>